##############################################################
#                    /)                                      #
#           /\___/\ ((                                       #
#           \`@_@'/  ))                                      #
#           {_:Y:.}_//                                       #
# ----------{_}^-'{_}----------------------------------------#
#  _____  _____ __  __   __________  _   __________________  #
# /__  / / ___// / / /  / ____/ __ \/ | / / ____/  _/ ____/  #
#   / /  \__ \/ /_/ /  / /   / / / /  |/ / /_   / // / __    #
#  / /_____/ / __  /  / /___/ /_/ / /|  / __/ _/ // /_/ /    #
# /____/____/_/ /_/   \____/\____/_/ |_/_/   /___/\____/     #
#                                                            #
##############################################################

# -----------------------------------------------------------
# zsh cache and history configuration
# -----------------------------------------------------------

ZSHCACHE=${HOME}/.cache/zsh
mkdir -p "${ZSHCACHE}"

HISTFILE=${ZSHCACHE}/history
HISTSIZE=4096
SAVEHIST=2048

# -----------------------------------------------------------
# zsh global options
# -----------------------------------------------------------

setopt interactivecomments
setopt append_history
setopt auto_cd
unsetopt correctall
setopt extended_glob
setopt no_match
setopt notify
setopt print_exit_value
setopt COMPLETE_ALIASES

# -----------------------------------------------------------
# zsh functions loading
# -----------------------------------------------------------

fpath=( "$HOME/.zfunctions" $fpath )

autoload -U select-word-style && select-word-style bash
autoload -U zmv
autoload -U extract

# -----------------------------------------------------------
# zsh features configuration
# -----------------------------------------------------------

zstyle ':completion:*:processes' command 'ps xfo pid,cmd'

# -----------------------------------------------------------
# zsh path configuration
# -----------------------------------------------------------

typeset -U path
path=(~/bin ~/.local/bin $path[@])

# -----------------------------------------------------------
# zsh autosuggestions
# -----------------------------------------------------------

source {{ zsh_syntax_highlighting_dir.stdout }}
source ~/.zsh/zsh-autosuggestions/zsh-autosuggestions.zsh
export ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE='fg=8'

autoload -Uz compinit promptinit
compinit
promptinit

# -----------------------------------------------------------
# source zshrc.d
# -----------------------------------------------------------

if [[ -s "${ZDOTDIR:-$HOME}/.zprezto/init.zsh" ]]; then
  source "${ZDOTDIR:-$HOME}/.zprezto/init.zsh"
fi

zshrcd="$HOME/.zshrc.d"
if [ -d "$zshrcd" ]; then
  zfiles=("$zshrcd/"*.zsh)
  for zf in $zfiles; do
    [ -r $zf ] && . $zf
  done
fi

if [[ -s "/opt/asdf-vm/asdf.sh" ]]; then
  . /opt/asdf-vm/asdf.sh
fi

if [[ -s "/home/antoine/.shinobi-config" ]]; then
  source /home/antoine/.shinobi-config
fi
autoload -U +X bashcompinit && bashcompinit

if [ -d "/home/antoine/tools/support-shinobi-tools/" ]; then
  source /home/antoine/tools/support-shinobi-tools/lib/shinobi_bash_completion.sh
fi
