# -----------------------------------------------------------
# powerlevel10k
# -----------------------------------------------------------

if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
    source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# -----------------------------------------------------------
# zsh cache and history configuration
# -----------------------------------------------------------

ZSHCACHE=${HOME}/.cache/zsh
mkdir -p "${ZSHCACHE}"

HISTFILE=${ZSHCACHE}/history
HISTSIZE=4096
SAVEHIST=2048

# -----------------------------------------------------------
# zsh global options
# -----------------------------------------------------------

ENABLE_CORRECTION="false"
setopt interactivecomments
setopt append_history
setopt auto_cd
unsetopt correct
unsetopt correct_all
setopt extended_glob
setopt no_match
setopt notify
setopt print_exit_value
setopt COMPLETE_ALIASES
setopt no_list_ambiguous
setopt MENU_COMPLETE

# -----------------------------------------------------------
# zsh functions loading
# -----------------------------------------------------------

fpath=( "$HOME/.zfunctions" $fpath )

autoload -U select-word-style && select-word-style bash
autoload -U zmv
autoload -U extract

# -----------------------------------------------------------
# zsh path configuration
# -----------------------------------------------------------

typeset -U path
path=(~/bin ~/.local/bin $path[@])

# -----------------------------------------------------------
# source asdf
# -----------------------------------------------------------

if [[ -s "$HOME/.asdf/asdf.sh" ]]; then
    . $HOME/.asdf/asdf.sh
fi

# append completions to fpath
fpath=(${ASDF_DIR}/completions $fpath)

# -----------------------------------------------------------
# completions
# -----------------------------------------------------------

autoload -Uz compinit promptinit
compinit -u
promptinit

# -----------------------------------------------------------
# fzf
# -----------------------------------------------------------

# Completion caching
zstyle ':completion::complete:*' use-cache on
zstyle ':completion::complete:*' cache-path .zcache
zstyle ':completion:*:cd:*' ignore-parents parent pwd

zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}

zstyle ':completion:*' matcher-list '' 'm:{a-zA-Z}={A-Za-z}' 'r:|[._-]=* r:|=*' 'l:|=* r:|=*'
zstyle ':fzf-tab:*' switch-group ';' ':'

zstyle ':fzf-tab:*' show-group none
zstyle ':fzf-tab:*' single-group header

zstyle ':completion:*:git-checkout:*' sort false
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'exa -1 --color=always $realpath'

zstyle ':completion:*:descriptions' format '[%d]'
zstyle ':completion:*' group-name ''

export FZF_DEFAULT_OPTS=" \
--color=bg+:#313244,bg:#1e1e2e,spinner:#f5e0dc,hl:#f38ba8 \
--color=fg:#cdd6f4,header:#f38ba8,info:#cba6f7,pointer:#f5e0dc \
--color=marker:#f5e0dc,fg+:#cdd6f4,prompt:#cba6f7,hl+:#f38ba8"

# -----------------------------------------------------------
# custom local configuration
# -----------------------------------------------------------

{% if additional_local_config is defined %}
{{ additional_local_config }}
{% endif %}

# -----------------------------------------------------------
# source zprezto
# -----------------------------------------------------------

if [[ -s "${ZDOTDIR:-$HOME}/.zprezto/init.zsh" ]]; then
    source "${ZDOTDIR:-$HOME}/.zprezto/init.zsh"
fi

# -----------------------------------------------------------
# source zshrc.d
# -----------------------------------------------------------

zshrcd="$HOME/.zshrc.d"
if [ -d "$zshrcd" ]; then
    zfiles=("$zshrcd/"*.zsh)
    for zf in $zfiles; do
        [ -r $zf ] && . $zf
    done
fi

# -----------------------------------------------------------
# zsh autosuggestions
# -----------------------------------------------------------

source ~/.zsh/catppuccin_*-zsh-syntax-highlighting.zsh
source {{ zsh_syntax_highlighting_dir.stdout }}
source ~/.zsh/zsh-autosuggestions/zsh-autosuggestions.zsh
export ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE='fg=8'

# -----------------------------------------------------------
# tools
# -----------------------------------------------------------

. ~/tools/z/z.sh

if [ -f "${HOME}/.shinobirc" ]; then source "${HOME}/.shinobirc"; fi
source <(opscore generate-completion --shell zsh)

# -----------------------------------------------------------
# p10k sourcing
# -----------------------------------------------------------

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh