[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "powerlevel9k"]
	path = powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "nerd-fonts"]
	path = nerd-fonts
	url = git@github.com:ryanoasis/nerd-fonts.git
