{% if system.proxy.enabled %}

export proxy="{{ system.proxy.host }}:{{ system.proxy.port }}"
export PROXY=$proxy

export http_proxy=$proxy
export HTTP_PROXY=$proxy
export https_proxy=$proxy
export HTTPS_PROXY=$proxy
export ftp_proxy=$proxy
export FTP_PROXY=$proxy
export rsync_proxy=$proxy
export RSYNC_PROXY=$proxy

export no_proxy="{{ system.proxy.noproxy }}"
export NO_PROXY=$no_proxy

{% endif %}
