configuration {
    modi: "window,drun,run,ssh";
    combi-modi: "window,drun,run,ssh";

    case-sensitive: false;
    sort: true;
    sorting-method: "levenshtein";
    disable-history: true;
    matching: "fuzzy";
    tokenize: true;

    font: "Jetbrains Mono 12";
    fixed-num-lines: true;
    show-icons: true;
    icon-theme: "Dracula";

    sidebar-mode: false;
    location: 0;
    yoffset: 0;
    xoffset: 0;

    terminal: "terminator";
    ssh-client: "ssh";
    ssh-command: "{terminal} -e {ssh-client} {host}";
    run-command: "{cmd}";
    run-list-command: "";
    run-shell-command: "{terminal} -e {cmd}";

  drun {
    display-name: "app";
  }

  run {
    display-name: "shell";
  }

  combi {
    display-name: "switch";
  }

	parse-hosts: true;
	parse-known-hosts: true;

  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }

  theme: "~/.config/rofi/theme.rasi";
}
