{% if system.proxy.enabled %}

proxy={{ system.proxy.host }}:{{ system.proxy.port }}
http-proxy={{ system.proxy.host }}:{{ system.proxy.port }}
https-proxy={{ system.proxy.host }}:{{ system.proxy.port }}
strict-ssl=false

{% endif %}
