"*":
  "ansible-vault":
    path: "/usr/bin/ansible-vault"
    vault_automatic_de_and_encrypt: true
    vault_password_file_forcing: true
    vault_password_file_path: "~/.ansible-vault/default_vault_pass"
  core:
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    projectHome: "~/git"
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "isotope-ui"
      "monokai"
    ]
  editor:
    fontFamily: "Fira Sans"
    fontSize: 15
    preferredLineLength: 150
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "3d70995d-b586-040a-e1db-d8c447315024"
  "isotope-ui":
    backgroundGradient: true
    fontFamily: "Open Sans"
    minimalMode: true
  "one-dark-ui":
    fontSize: 10
  welcome:
    showOnStartup: false
