// Place your settings in this file to overwrite the default settings
{
	{% if system.proxy.enabled %}
    "http.proxy": "http://{{ system.proxy.host }}:{{ system.proxy.port }}",
    "https.proxy": "http://{{ system.proxy.host }}:{{ system.proxy.port }}",
    "http.proxyStrictSSL": false,
    {% endif %}
	"editor.fontLigatures": true,
	"workbench.statusBar.feedback.visible": false,
	"editor.mouseWheelZoom": true,
	"editor.wordWrap": "on",
	"editor.cursorBlinking": "smooth",
	"files.eol": "\n",
	"files.trimTrailingWhitespace": true,
	"editor.smoothScrolling": true,
	"editor.minimap.enabled": false,
	"git.autofetch": true,
	"diffEditor.ignoreTrimWhitespace": true,
	"emmet.triggerExpansionOnTab": true,
	"files.autoSave": "onFocusChange",
	"markdownlint.config": {
		"list-marker-space": false,
		"no-inline-html": false,
		"no-trailing-punctuation": false
	},
	"vetur.format.defaultFormatter.html": "none",
	"window.titleBarStyle": "custom",
	"editor.formatOnPaste": true,
	"editor.formatOnSave": true,
	"workbench.colorTheme": "Material Theme Palenight High Contrast",
	"workbench.iconTheme": "eq-material-theme-icons-palenight",
	"materialTheme.autoApplyIcons": true,
	"editor.fontFamily": "'Fira Code',Consolas, 'Courier New', monospace"
}
